<body id="welcome-page">
  <div class="jumbotron">
    <h1>Welcome to Hangman<%= "\u{1f600}" %></h1>
    <h4>
      <%= link_to 'Click here to show all Games', controller: 'games' %><br><br>
    </h4>
    <%= link_to '<button type="button" class="btn btn-lg btn-primary">New Custom Game</button>'.html_safe, new_game_path%>
  </div>
</body>
