<%= form_with(model: [ @game, @game.guesses.build ] , local: true ) do |form| %>
      <%= form.submit "Guess!", class: "submit-btn btn btn-primary btn-lg #{'display-none' if !@game.in_progress? }" %>

  <% if flash[:success] %>
    <div class ="alert-success"> <%= flash[:success] %> </div>
  <% else %>
    <div class ="alert-danger"> <%= flash[:notice] %> </div>
  <% end %>
<% end %>