<h1>Listing all the games</h1>
<%= link_to 'New Game', new_game_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Created at</th>
    <th colspan = "3"></th>
  </tr>

  <tr>
    <% @games.each do |game| %>
      <td><%= game.name %></td>
      <td><%= game.created_at %></td>
      <td><%= link_to 'Destroy', game_path(game),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>