/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
   font-family: Georgia;
 }

  li {
   display: inline;
 }

 .display-none {
   display:none;
 }

 #bs-example-navbar-collapse-1 {
   background-color: #337ab7;
   color: white;
 }
 .navbar {
   font-family: "Raleway";
 }

#logo {
float: left;
font-size: 1.7em;
color: white;
text-transform: uppercase;
letter-spacing: -1px;
font-weight: bold;
margin-left: 20px;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

#link {
  float: left;
  margin-right: 10px;
  color: white;
}
#name {
  text-transform: capitalize;
}

.label-letter{

  font-size: 15px;
  font-style: oblique;
  text-align: left;
  margin-right: 400px;
}

.form-control {
  width: 460px;
  border-radius: 12px;
}

.submit-btn {
  margin-top: 20px;
  width: 460px;
}

.clue {
  font-size: 30px;
}

.game-state {
  font-size: 22px;
}

.back-link {
  border-top: dotted;
  border-color: grey;
  text-align: left;
  font-size: 15px;
  margin-top: 65px;
  padding: 10px;
}

.alert{
  font-size: 20px;
  width: 650px;
  margin-top: 30px;
  border-radius: 15px;
  text-align: center;
}
#guesses-made {
  font-size: 21px;
  color: violet;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

#games {
   font-family: "Trebuchet MS",
   Arial,
   Helvetica,
   sans-serif;
   border-collapse: collapse;
   width: 100%;
}

#games tr:nth-child(even) {
  background-color: #f2f2f2;
}

#games tr:hover {
  background-color: #ddd;
}

#games th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #86c0f3;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  padding-left: 5px;
}
#games td {
  text-align: left;
  text-transform: capitalize;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}
